<!DOCTYPE HTML>
<!--
	Massively by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
        {% block og %}{% endblock %}
        {% block css %}{% endblock %}
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="template/css/style.css" />
	</head>
	<body class="is-preload">
    <div class="jumbotron">
        <img class="avatar" src="template/img/Griffont_Termine.png"/>
        <h1>BUHLER GEOFFRAY</h1>
        <h2>Ça va durer longtemps ? Prends-toi un Griffont.</h2>  
    </div>
    <div class="main">
        <nav>
            <div>
                <a class="menuadd {% if current == 'home' %}active{% endif %}" href="/">Accueil</a>
                <a class="menuadd {% if current == 'contact' %}active{% endif %}" href="/contact">Contact</a>
            </div>
            <div>
                <a class="menuadd icon brands fa-twitch" href="/"></a>
                <a class="menuadd icon brands fa-twitter" href="/contact"></a>
                <a class="menuadd icon brands fa-linkedin" href="/contact"></a>
                <a class="menuadd icon brands fa-github" href="#"></a>
            </div>
        </nav>
        <div class="content">
        {% block content %}
        {% endblock %}
        </div>
    </div>
	</body>
</html>