
body{
    background-color: #0e2336;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main{
    width: 75%;
}

.menuadd{
    width: 100px;
    padding: 1rem;
}

.jumbotron{
   height:80vh;
}

.content{
    padding: 1rem;
    background-color: #ffffff;
}

nav {
    background-color: #ffffff50;
    font-size: larger;  
    display: flex;
    justify-content: start;
    margin: 0;
}

.active{
    background-color: #ffffff;
    color: #0e2336;
}

nav a{
    text-decoration: none;
    color: aquamarine;
}

nav a:hover{
    color: blueviolet;
}