<!DOCTYPE html>
<html>
	<head lang="fr">
		<title>
			{% block title %}{% endblock %}
		</title>
		{% block og %}{% endblock %}
		{% block css %}{% endblock %}
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/normalize.css"/>
		<link rel="stylesheet" href="/css/style.css"/>
		<meta property="og:title" content="Blog du Griffont39">
		<meta property="og:site_name" content="Les infos du griffont39">
		<meta property="og:url" content="http://griffont39.alwaysdata.net/">
		<meta property="og:description" content="Blog de présentation de tout plien de choses pour le P05 d'OpenClassRoom">
		<meta property="og:type" content="article">
		<meta property="og:image" content="http://griffont39.alwaysdata.net/img/Og_Griffont.png">
	</head>
	<body class="is-preload">
		<div id="particles-js" class="jumbotron ">
				<div>
					{% if session.roles is empty and session.login is empty %}
						<a href="/logon" class="{% if current == 'logon' %}white{% endif %}">Inscription</a>
						/
						<a href="/login" class="{% if current == 'login' %}white{% endif %}">Connexion</a>
					{% else %}
						{% if session.roles == 'admin' %}
							<a href="/profil" class="{% if current == 'profil' %}white{% endif %}">Profil</a>
							/
							<a href="/admin" class="{% if current == 'admin' %}white{% endif %}">Administration</a>
							/
							<a href="/deconnexion">Deconnexion</a>
						{% else %}
							<a href="/profil" class="{% if current == 'profil' %}white{% endif %}">Profil</a>
							/
							<a href="/deconnexion">Deconnexion</a>
						{% endif %}
					{% endif %}
				</div>
				<img class="avatar" src="/img/Griffont_Termine.png"/>
				<h1>BUHLER GEOFFRAY</h1>
				<h2>Griffont39 - réinventons la roue.</h2>
		</div>
		<div class="main">
			<nav>
				<a class="btn-hamburger d-flex">
				</a>
                <div class="d-none hamburger" id="hamburger">
						<a class="menuadd {% if current == 'home' %}active{% endif %}" href="/">Accueil</a>
						<a class="menuadd {% if current == 'articles' %}active{% endif %}" href="/articles">Articles</a>
						<a class="icon" target="_blank" href="https://www.twitch.tv/griffont39">
							<i class="fab fa-twitch"></i>
						</a>
						<a class="icon" target="_blank" href="https://twitter.com/griffont39">
							<i class="fab fa-twitter-square"></i>
						</a>
						<a class="icon" target="_blank" href="https://www.linkedin.com/in/geoffray-buhler-93100099/">
							<i class="fab fa-linkedin"></i>
						</a>
						<a class="icon" target="_blank" href="https://github.com/Geoffray-buhler">
							<i class="fab fa-github"></i>
						</a>
                </div>
				<div class="normale">
					<a class="menuadd {% if current == 'home' %}active{% endif %}" href="/">Accueil</a>
					<a class="menuadd {% if current == 'articles' %}active{% endif %}" href="/articles">Articles</a>
				</div>
				<div class="normale">
					<a class="icon" target="_blank" href="https://www.twitch.tv/griffont39">
						<i class="fab fa-twitch"></i>
					</a>
					<a class="icon" target="_blank" href="https://twitter.com/griffont39">
						<i class="fab fa-twitter-square"></i>
					</a>
					<a class="icon" target="_blank" href="https://www.linkedin.com/in/geoffray-buhler-93100099/">
						<i class="fab fa-linkedin"></i>
					</a>
					<a class="icon" target="_blank" href="https://github.com/Geoffray-buhler">
						<i class="fab fa-github"></i>
					</a>
				</div>
			</nav>
			<div class="content">
				<div class="d-flex center column">
					{% block content %}
						{% if succes %}
							<p style="padding:1rem; background-color:#00ff0050;color:#00ff00;border-radius: 10px;">{{succes}}
							</p>
						{% endif %}
						{% if error %}
							<p style="padding:1rem; background-color:#ff000050;color:#ff0000;border-radius: 10px;">{{error}}
							</p>
						{% endif %}
					{% endblock %}
				</div>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
		<script src="https://kit.fontawesome.com/6e28c03334.js" crossorigin="anonymous"></script>
        <script src="./js/main.js" crossorigin="anonymous"></script>
		<script src="./js/jumbo.js" crossorigin="anonymous"></script>
	</body>
</html>
