<!DOCTYPE HTML>
<!--
	Massively by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
        {% block og %}{% endblock %}
        {% block css %}{% endblock %}
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body class="is-preload">
    <div class="jumbotron">
        <div>
            <a href="/logon" class="{% if current == 'logon' %}white{% endif %}">Inscription</a> 
            / 
            <a href="/login" class="{% if current == 'login' %}white{% endif %}">Connexion</a>
        </div>
        <img class="avatar" src="/img/Griffont_Termine.png"/>
        <h1>BUHLER GEOFFRAY</h1>
        <h2>Ça va durer longtemps ? Prends-toi un Griffont.</h2>
    </div>
    <div class="main">
        <nav>
            <div>
                <a class="menuadd {% if current == 'home' %}active{% endif %}" href="/">Accueil</a>
                <a class="menuadd {% if current == 'contact' %}active{% endif %}" href="/contact">Contact</a>
            </div>
            <div>
                <a class="icon" target="_blank" href="https://www.twitch.tv/griffont39"><i class="fab fa-twitch"></i></a>
                <a class="icon" target="_blank" href="https://twitter.com/griffont39"><i class="fab fa-twitter-square"></i></a>
                <a class="icon" target="_blank" href="https://www.linkedin.com/in/geoffray-buhler-93100099/"><i class="fab fa-linkedin"></i></a>
                <a class="icon" target="_blank" href="https://github.com/Geoffray-buhler"><i class="fab fa-github"></i></a>
            </div>
        </nav>
        <div class="content">
            <div class="d-flex center column">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/6e28c03334.js" crossorigin="anonymous"></script>
	</body>
</html>