{% extends "/Base.html.twig" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}
<h1>les articles</h1>
<p class="important">
    <dl>
        <dt></dt>
        <dd></dd>
    </dl>
</p>
{% endblock %}