{% extends "/Base.html.twig" %}

{% block title %}Administration{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block content %}
<h1>Administration</h1>
<h2>Gestion des posts</h2>
<h2>Gestion des utilisateurs</h2>


{% endblock %}