{% extends "/Base.html.twig" %}
{% block title %}Accueil{% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}
    <h1>Les derniers articles</h1>
    {% for article in articles %}
    <div class="articleMain">
        <h2 class="center">{{article.title}}</h2>
        <h4 class="begin">{{article.body}}</h4>
    </div>
    {% endfor %}
{% endblock %}