{% extends "/Base.html.twig" %}
{% block title %}Accueil{% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}
<div class="d-flex column">
    <h1>Bienvenue</h1>
    {{ parent() }}
    <p>Je vous souhaite la bienvenue sur mon blog, vous pouvez y retrouver mon actualité ainsi que mes envies et les choses que je veux partager</p>
    <p>Afin de mieux se connaitre je vous propose deux CV.</p>
    <p> Un en ligne sur ce <a target="_blank" class="link" href="https://geoffray-buhler.github.io/CV/">lien <i class="fas fa-link"></i></a></p>
    <p>le format PDF sur ce <a target="_blank" class="link" href="/docs/Cvbuhler.pdf">lien <i class="fas fa-file-download"></i></a></p>
</div>
<div class="d-flex column w80p">
    <h2>Pour prendre contact avec moi</h2>
    <form class="d-flex column" action="#" method="POST">
        <input class="mt-1 input" name="name" placeholder="Votre pseudo" type="text"/>
        <input class="mt-1 input" name="subject" placeholder="Sujet de la prise de contact" type="text"/>
        <input class="mt-1 input" name="email" placeholder="Votre email" type="email"/>
        <textarea class="mt-1 textarea" name="body" placeholder="Votre question ou demande"></textarea>
        <input class="mt-1 btnprimary" name="submit" type="submit" value="Envoyer"/>
    </form>
</div>
{% endblock %}