{% extends "/Base.html.twig" %}
{% block title %}Accueil{% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}
<div class="d-flex column">
    <h1>Bienvenue</h1>
    {{ parent() }}
    <p>Je vous souhaite la bienvenue sur mon blog, vous pouvez y retrouver mon actualité vidéoludique ainsi que mes envies et les choses que je veux partager</p>
    <p>Afin de mieux se connaitre je vous propose deux CV.</p>
    <p>Un en ligne sur ce <a target="_blank" class="link" href="https://geoffray-buhler.github.io/CV/">lien <i class="fas fa-link"></i></a></p>
    <p>Le format PDF sur ce <a target="_blank" class="link" href="/docs/Cvbuhler.pdf">lien <i class="fas fa-file-download"></i></a></p>
</div>
<div class="d-flex column w80p">
    <h2>Pour prendre contact utilisez ce formulaire</h2>
    <form id="forms" class="d-flex column" action="#" method="POST">
        <label for="name" class="sr-only">Votre noms</label>
        <input class="mt-1 input" id="name" name="name" placeholder="Votre pseudo" type="text"/>
        <label for="subject" class="sr-only">Sujet de la prise de contact</label>
        <input class="mt-1 input" id="subject" name="subject" placeholder="Sujet de la prise de contact" type="text"/>
        <label for="email" class="sr-only">Votre email</label>
        <input class="mt-1 input" id="email" name="email" placeholder="Votre email" type="email"/>
        <label for="body" class="sr-only">Votre message</label>
        <textarea id="body" class="mt-1 textarea" name="body" placeholder="Votre question ou demande"></textarea>
        <input class="mt-1 btnprimary" name="submit" type="submit" value="Envoyer"></input>
    </form>
</div>
{% endblock %}