{% extends "/Base.html.twig" %}
{% block title %}Accueil{% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}
<h1>Bienvenue</h1>
<p>Je vous souhaite la bienvenue sur mon blog, vous pouvez y retrouver mon actualité ainsi que mes envi et les choses que je veux partager</p>
<p>Afin de mieu ce connaitre je vous propose deux CV.</p>
<p> Un en ligne sur ce <a target="__blank" class="link" href="https://geoffray-buhler.github.io/CV/">lien</a></p>
<p>le format PDF sur ce <a target="__blank" class="link" href="/docs/Cvbuhler.pdf">lien</a></p>
<h2>Pour prendre contact avec moi</h2>
<form class="d-flex column" action="#" method="POST">
    <input class="mt-1" name="name" placeholder="Votre pseudo" type="text"></input>
    <input class="mt-1" name="subject" placeholder="Sujet de la prise de contact" type="text"></input>
    <input class="mt-1" name="email" placeholder="Votre email" type="email"></input>
    <textarea class="mt-1" name="body" placeholder="Votre question ou demande" type="textarea"></textarea>
    <input class="mt-1" name="submit" type="submit"></input>
</form>
{% endblock %}