{% extends "/Base.html.twig" %}

{% block title %}Connexion{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block content %}
<h1>Connexion</h1>

<form action="#" method="POST">
    <div class="d-flex m-1">
        <input type="text" name="login" class="ml-1" placeholder="Login">
        <input type="password" name="password" class="ml-1" placeholder="Mot de passe">
    </div>
    <input type="submit" value="Connexion">
</form>
{% endblock %}