{% extends "/Base.html.twig" %}

{% block title %}Inscription{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block content %}
<h1>Inscription</h1>

<form action="#" method="POST">
    <div class="d-flex m-1">
        <input class="ml-1 mr-1" name="login" type="text" placeholder="Login">
        <input class="ml-1 mr-1" name="email" type="email" placeholder="Adresse Email">
    </div>
    <div class="d-flex m-1">
        <input class="ml-1 mr-1" name="password" type="password" placeholder="Mot de passe">
        <input class="ml-1 mr-1" name="password_rec" type="password" placeholder="Mot de passe">
    </div>
    <input type="submit">
</form>
{% endblock %}