{% extends "/Base.html.twig" %}

{% block title %}Modifier son compte{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block content %}
<h1>Modifier son compte</h1>
{{ parent() }}
<form action="#" method="POST">
    <input class="w84 input" name="old_password" type="password" placeholder="Ancien mot de passe">
    <div class="d-flex m-1">
        <input class="ml-1 mr-1 input" name="password" type="password" placeholder="Mot de passe">
        <input class="ml-1 mr-1 input" name="password_rec" type="password" placeholder="Mot de passe">
    </div>
    <input class="btnprimary" type="submit" name="changepassword">
</form>
{% endblock %}