{% extends "/Base.html.twig" %}

{% block title %}Votre profil{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block content %}
<h1>Profil</h1>
{{ parent() }}
<p>Nom du compte : {{session.login}}</p>
<div class="d-flex">
    <form action="#" method="post"><button class="mr-1 btn-error" type="submit" name="delete">Supprimer son compte</button></form>
    <a aria-label="modifier son compte" href="/profil/modify" class="btn-blue" name="modify">Modifier son compte</a>
</div>
{% endblock %}